body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
        url('../image/T_MySQLCrud.jpg');
    /* width: 100%; */
    /* height: 100vh; */
    color: #fff;
    margin: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


}
.d-flex{
    display: flex;
}
.main-title{
    padding: 20px;
}
.main-title h1{
    text-align: center;
    font-size: 50px;
}
.search {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

.search input {
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    /* margin-left: 20px; */
}

#search {
    padding: 5px;
}

table {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.curd-img {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.curd-head {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.curd-head .inputs {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
       
}

.curd-head .inputs input {
    padding: 5px;
    border-radius: 10px;
     border: 0;
}

.curd-head label,
.curd-head input {
    margin: 0 10px;
}

.curd-head input:focus {
    border: 0;
    outline: 1px solid dodgerblue;
}

.curd-head button {
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
}

table,
th,
td {
    border: 1px solid black;
}

.crud-content {
    width: 100%;

}

table {
    margin: 10px auto;
    width: 90%;
    
}

tr button {
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-delete {
    background-color: red;
    color: white;
}

.edit {
    background-color: rgba(243, 243, 7, 0.993);
}

th {
    background-color: rgb(64, 156, 248);
    color: white;
    padding: 15px;
    font-size: 25px;

}

.display-none {
    display: none;
}

#saveUpdate {
    background-color: rgb(241, 241, 40);
    padding: 10px;
}

tr td {
    padding: 5px;
    font-size: 20px;
}

td {
    width: 25%;
}
tbody input{
    width: 100px;
}
@media screen and (max-width: 500px){
    body{
        height: fit-content;
    }
th{
    font-size: 16px;
}
tbody input{
    width: 40px;
}
tr button{
    margin: 0;
    padding: 5px;
    width: 47px;
}
    .main-title h1{
        margin: 0;
    }
    .curd-head .inputs{
        padding: 0;
        margin-bottom: 20px;
    }
    .d-flex{
        width: 100%;
        padding-bottom: 20px;
    }
    label{
        width: 40%;
        text-align: center;
    }
        .curd-head .inputs input{
            width: 40%;
        }

        /* tbody td>div{
            width: 10%;
        } */
}
@media screen and (min-width: 500px) {

    .d-flex{
                padding-bottom: 20px;
        width: 87%;
    }
    label{
        width: 35%;
    }
    .curd-head .inputs{
flex-direction: column;
    }
        .curd-head .inputs input{
            width: 45%;
        }
        .search input {
            width: 45%;
        }

}
@media screen and (min-width: 890px) {
 body{
height: 100vh;
max-height: 200vh;
 }
     label{
width: 20%;
     }
    .curd-head .inputs {
        justify-content: center;
        
        gap: 15px;
        padding: 25px;
    }

    .curd-head .inputs input {
        width: 50%;

    }

    table {
        margin: 10px auto;
        width: 95%;
    }
    .d-flex{
        width: 80%;
    }
}
@media screen and (min-width: 950px){
        .curd-head .inputs{
        flex-direction: row;
    }
    .d-flex{
width: 40%;
    }
        label {
        width: 30%;
    }
}
@media screen and (min-width: 1200px){


  .d-flex{
    width: 28%;
  }
      .search input{
        width: 20%;
      }
}
